<?xml version="1.0"?>
<!--
/**
 *
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <!-- WEB API -->
    <preference for="Develodesign\Easymanage\Api\ExportProductsInterface"
                type="Develodesign\Easymanage\Model\ExportProducts" />
    <preference for="Develodesign\Easymanage\Api\ExportCustomersInterface"
                type="Develodesign\Easymanage\Model\ExportCustomers" />
    <preference for="Develodesign\Easymanage\Api\SaveProductsInterface"
                type="Develodesign\Easymanage\Model\SaveProducts" />
    <preference for="Develodesign\Easymanage\Api\RevisionProductsInterface"
                type="Develodesign\Easymanage\Model\RevisionProducts" />
    <preference for="Develodesign\Easymanage\Api\PingInterface"
                type="Develodesign\Easymanage\Model\Ping" />
    <preference for="Develodesign\Easymanage\Api\MailprocessInterface"
                type="Develodesign\Easymanage\Model\Mailprocess" />

    <!-- mail template -->
    <preference for="Develodesign\Easymanage\Api\MailTemplateInterface"
        type="Develodesign\Easymanage\Model\Mailtemplate" />

    <!-- importer -->

    <preference for="Develodesign\Easymanage\Api\ImporterInterface"
        type="Develodesign\Easymanage\Model\Importer" />

    <!-- triggers -->
    <preference for="Develodesign\Easymanage\Api\TriggerInterface"
      type="Develodesign\Easymanage\Model\Trigger" />

    <!-- test -->
    <preference for="Develodesign\Easymanage\Api\TestInterface"
      type="Develodesign\Easymanage\Model\Test" />

    <!-- custom addons -->

    <preference for="Develodesign\Easymanage\Api\MailunsubscribersInterface"
        type="Develodesign\Easymanage\Model\Addon\Mailunsubscribers\Model" />

</config>
