<?xml version="1.0"?>
<!--
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="easymanage" frontName="easymanage">
            <module name="Develodesign_Easymanage" />
        </route>
    </router>
</config>
